.parent {
    font-family: 'Bangers', cursive;
    height: 100vh;
    background: linear-gradient(to bottom, #333 0%, #333 17%, #2f2f2f 42%, #272727 64%, #151515 100%);
    overflow: hidden;
}

.parent>div {
    height: 100%;
}

.col-6 {
    font-size: 10rem;
}

.pomodoro-section p {
    color: #C70106;
}

.custom-section p {
    color: white;
}

.col-6:hover p {
    opacity: .8;
}

a:hover {
    cursor: pointer;
}